.container
  width: 800px
  height: 300px
  margin: 140px auto 60px

ul
  list-style: none
  padding: 0
  margin: 0

a
  display: block
  text-decoration: none
  font-size: 30px
  width: 80px
  height: 80px
  border-radius: 50%
  text-align: center
  line-height: 80px
