.container
  width: 800px
  height: 300px
  border-top: solid 1px #ccc
  margin: 140px auto
  &:first-of-type
    border-top: none

h1
  font-weight: normal
  color: #ccc
  margin-bottom: 100px

ul
  list-style: none
  padding: 0
  margin: 0

a.btn
  display: block
  text-decoration: none
  font-size: 30px
  width: 80px
  height: 80px
  border-radius: 50%
  text-align: center
  line-height: 80px

hr
  width: 2em
  border: solid 2px #2C2C2C
