ul.circle-nav
  text-align: center
  position: relative

ul.circle-nav li
  display: block
  position: absolute

li.circle-nav__item
  &:hover
    animation-name: tada
    animation-duration: 1s
    animation-fill-mode: both

li.circle-nav__item:nth-child(1)
  top: 0
  left: 47%

li.circle-nav__item:nth-child(2)
  top: 80px
  right: 30%

li.circle-nav__item:nth-child(3)
  top: 180px
  right: 35%

li.circle-nav__item:nth-child(4)
  top: 180px
  left: 40%

li.circle-nav__item:nth-child(5)
  top: 80px
  left: 35%

@keyframes tada
  from
    transform: scale3d(1, 1, 1)

  10%, 20%
    transform: scale3d(.9, .9, .9)

  30%, 50%, 70%, 90%
    transform: scale3d(1.1, 1.1, 1.1)

  40%, 60%, 80%
    transform: scale3d(1.1, 1.1, 1.1)

  to
    transform: scale3d(1, 1, 1)

.tada
  animation-name: tada
